* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Miriam Libre', sans-serif;

}

b{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 900;
  color: green;
}
.text-top{
  font-size: 2em;
}
.text-sub{
  font-size: 0.8em;
}
.text-white{
  color: white;
}
.text-black{
  color: #2d2d2d;
}
.text-red{
  color: #e2574c;
}
.text-align-center{
  text-align: center;
}
h2{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 900;
  color: green;
}
h3{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 400;
  color: #c3c3c3;
  font-size: 0.7em;
}


/* images and backgrounds */

.image-logo{
  height: 10vh;
  /*position: left;*/
  padding: 10px;
}
.image-shopping{
  height: 10vh;
  /*position: right;*/
  padding: 10px;
}
.red-icon-count{
  background-color: green;
  // border-radius: 50%;
  width: 100px;
  height: 100px;
}
.background-shopping{
  background-image: url("./images/cart-icon.svg");
  background-repeat: no-repeat;
  height: 15vh;
}
.background-image-season{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url("./images/banner.jpg" );
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
.background-image-updates{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  background-repeat: no-repeat ;
}
.image-cat-laptop{
  background-image: url("./images/laptop-category.jpg");
  background-size: cover;
  background-repeat: no-repeat ;
}
.image-cat-desktop{
  background-image: url("./images/desktop-category.jpg" );
  background-size: cover;
  background-repeat: no-repeat ;
}
.image-cat-homeaudio{
  background-image: url("./images/home-audio-category.jpg" );
  background-size: cover;
  background-repeat: no-repeat ;
}
.image-cat-cell{
  background-image: url("./images/cell-category.jpg" );
  background-size: cover;
  background-repeat: no-repeat ;
}
.image-cat-tablet{
  background-image: url("./images/tablet-category.jpg" );
  background-size: cover;
  background-repeat: no-repeat ;
}
.image-cat-tv{
  background-image:  url("./images/tv-category.jpg" );
  background-size: cover;
  background-repeat: no-repeat ;
}

/* flex and alignments */
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-just-center{
  justify-content: center;
}
.flex-just-between{
  justify-content: space-between;
}
.flex-just-around{
  justify-content: space-around;
}
.flex-align-center{
  align-content: center;
}
.flex-align-items-center{
  align-items: center;
}
.align-center{
    vertical-align: text-top;
    display:block;
}
.flex-grow{
  flex-grow:1;
}
.align-self-center{
  align-self: center;
}
.align-self-flex-end{
  align-self: flex-end;
}

/* Borders and edges */

.bottom-border-gray{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d7d7d7;
}
.border-white{
  border-top-style: solid;
  border-top-color: white;
  border-top-width: 3px;
}
.padding-small{
  padding: 5px;
}
.padding{
  padding: 30px 30px;
}
.icon-padding{
  padding: 0 10px 10px 10px;
}
.padding-bottom{
  padding-bottom: 30px;
}
.display-block{
  display: block;
}

/* FORM EMAIL SUBSCRIPTION */

form{
  background-color: white;
  padding: 2px;
  margin: auto;
  min-width: 400px;
}
.green-button{
  background-color: green;
  border: 2px;
  width: 150px;
/*  flex-grow: 1; */
  padding: 10px;
}
.white-button{
  background-color: white;
  color: green;
  border: 2px solid green;
/*  flex-grow: 1; */
  padding: 10px;
}
.gray-button{
  background-color: white;
  color: #c3c3c3;
  border: 2px solid #c3c3c3;
/*  flex-grow: 1; */
  padding: 10px;
}
.email{
  border-style: none;
  width: 70%;
  padding-left: 20px;
}

/* HEADER AND FOOTER */
header{
  z-index: 100000000;
}
.top-nav{
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: white;
}
.space-top-nav{
  position: fixed;
  top: 10vh;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
}

a:hover{
  text-decoration: none;
  color: #b64036;
}
a:link, a:visited {
    text-decoration: none;
    color: green;
}
footer{
  background-color: #242424;
}
.social-names-width{
  width:25%;
}

/*SHOP GRID*/
.row-width-100{
  width: 100%;
}
.box-margin{
  margin: 1px;
}
.small-box{
  height: 300px;
}
.large-box{
  height: 300px;
}
.width-60{
  width: 60%;
}

#clone{
  display: none;
}
.carousel-cell{
  text-align: center;
  width: 350px;
}
#load-cart{
  position: fixed;
  z-index: 2000;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: rgba(52,44,44,0.8);
  display: none;
}
#load-qv{
  position: fixed;
  z-index: 2000;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: rgba(52,44,44,0.8);
  display: none;
}
#quick-view{
  position:fixed;
  top: 150px;
  left: 300px;
  z-index:3000;
  background-color: white;
  height: auto;

  width: 60%;
  display: none;
}
.your-cart{
  position:fixed;
  z-index:3000;
  background-color: white;
  height: auto;
  width: 60%;
  display: none;
}
/*MEDIA QUERIES*/

  @media only screen and (max-device-width: 600px){
      .display-none-mobile{
        display: none;
      }
      .flex-col-mobile{
        flex-direction: column;
      }
      .text-align-center-mobile{
        text-align: center;
      }
      .flex-just-center-mobile{
        justify-content: center;
      }
      .flex-grow-mobile{
        flex-grow:1;
      }
      .top-margin-mobile{
        margin-top: 10vh;
      }
      .flex-wrap-mobile{
        flex-wrap: wrap;
      }
      .flex-1-mobile{
        flex: 1;
      }
      .flex-2-mobile{
        flex: 2;
      }
      .flex-grow-1-mobile{
        flex-grow: 1;
      }
      .font-size-mobile{
        font-size: 14px;
      }
  }
  @media only screen
    and (min-device-width: 600px){
      .flex-row-tablet{
        flex-direction: row;
      }
      .display-none-tablet{
        display:none;
      }
      .flex-col-tablet{
        flex-direction: column;
      }
      .flex-grow-tablet{
        flex-grow:1;
      }
      .top-margin-tablet{
        margin-top: 10vh;
      }
      .navigation-tablet{
        padding-top: 4vh;
        width: 50%;
        text-align: center;
      }
      .flex-5-tablet{
        flex: 5;
      }
      .font-size-tablet{
        font-size: 16px;
      }
  }
  @media only screen
    and (min-device-width: 1240px){

      .display-none-desktop{
        display:none;
      }
      .navigation-desktop{
        padding-top: 4vh;
        width: 50%;
        text-align: center;
      }
      .top-margin-desktop{
        margin-top: 10vh;
      }
      .flex-5-desktop{
        flex: 5;
      }
      .font-size-desktop{
        font-size: 16px;
      }
    }
